*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



@media (max-width: 428px) {

    .travel{
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
.button_login{
    background-color: antiquewhite;
    border-radius: 6px;
    width: 5rem;

}
.button_login:hover{
    background-color: darkorange;
}

.social{
    margin-top:1.3rem
}

.button{
    margin-right: 2rem;
}
}