*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




@media (max-width: 428px) {

    .travel{
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 4rem;
    }
.second-part{

}
.description{


}
.image{



}

.social{
    margin-top:4rem
}
}