


@media (max-width: 428px){
.form-element{
    height: 50%;
    width: 70%;
    margin-left:5rem}
    .login-form{
margin-top:3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;}
.inputs{
    width:6rem;
height: 1rem}
.form_elements{
    display:flex;
    align-items:center;
    margin-bottom:20px;
}

    .labels{
        font-size:.7rem;
        flex:1;
        flex-basis:20%;
        max-width:50%;
    }
.inputs{
    flex:2;
    flex-basis:20%;
    max-width:50%;
}
    .buttons{
        margin-top: 2rem;
    }

    .button-submit{
        margin-right:1rem
    }
.button-register{
    margin-top: 2rem;
}



}